<!DOCTYPE html>
<html lang="en">
    <!--This is an HTML element-->
  <head>
    <meta charset="UTF-8" />
    <title>My Webpage</title>
    <link rel="stylesheet" href="../resources/css/styles.css">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  </head>
<header>
    Daniel's Website
</header>


<!--"nav flex-column" is an attribute that stacks the links instead of keeping them as single cells "https://getbootstrap.com/docs/4.0/components/navs/"-->
<nav class="nav flex-column text-center">
    <!--This is a parent-child relationship since the parent is the nav group-->
  <a class="nav-link disabled" aria-disabled="true">Home</a>
  <a class="nav-link" href="hobbies.html">Hobbies</a>
  <a class="nav-link" href="projects.html">Projects</a></a>
  <a class="nav-link" href="resume.html">Resume</a>
</nav>

<main>
    <div class="container">
    <img src="../resources/img/ohshthatsme.png" alt="A picture of me!" width="150">
    <h3>Welcome to my personal website!</h3>
    <p>If I had anything particularly interesting to say about myself, I'd put it here! I am from Thornton, Colorado and I attend University of Colorado Boulder and I am aiming to get a bachelor's of science in computer science (YEAH SCIENCE!!!!). Ok thats it I thnk I met my own imaginary quota on sentenes required for this page. This last sentence is just for good measure probably.</p>
    </div>
</main>

<footer>
    <a href="https://www.github.com/ElongatedEmu">
        <img src="../resources/img/githubpng.png" alt="Visit my GitHub Page!" width="30"/>
    </a>
</footer>
</html>